
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-image {
   
    width: 60vw;
    height: 70vh;
   
}
.content h1{
    text-align: center;
    color: #eb0c0c;
    font-size: 24px;
}

.content h2 {
margin-left: 50px;
padding-top: 50px;
font-size: 22px;
color: #510feb;
text-decoration: underline;
}
.content h3 {
    padding: 20px;
    margin-left: 10%;
    color: blue;
    font-size: 20px;
}
.content h4 {
   
    line-height: 40px;
    font-size: 18px;
    padding-bottom: 16px;
}
.content h4 span{
    text-decoration: underline;
    color: #510feb;
    font-size: 18px;
}

.content h5{
    margin-left: 10%;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 16px;

}

.content h6{
    font-size: 16px;
    padding-bottom: 2px;
}
.content img {
    padding: 5% 24% 5% 5%;
}
.content {
    padding: 5% 24% 5% 5%;
    background-color: aliceblue ;  
}


.points .span{
    margin-left: 5%;
}

.content p{
    font-size: 16px;
    text-align: justify;
    line-height: 40px;
   
}

.content a {
    color: #510feb;
}

.content i{
    color: #510feb;
}
.content ul{
    line-height: 40px ;
    font-size: 16px;
    margin-left: 40px;
}
.content ul li {
    list-style-type: square;
    line-height: 30px;
    margin-left: 60px;
  }


.btns{
   
   padding-top: 10px; 
}
.btn{
    padding-bottom:20px;
}
.prev {
    position: static;
    margin-left: 10px;
}
.nxt {

  float: right;
  margin-right: 30%;
  
}
.assignment{
    margin-left: 2%;   
}


.content button{
    width: 10vw;
    height: 40px;
    background: #f5a209;
    margin-right: 6%;
    border-radius: 5px;
}

button:hover{
    
    background: #eb0c0c;
    border-radius: 5px;
}
button a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}

.samples a{
    color: blue;
  text-decoration: underline;
 
}
.samples a:hover {
    color: rgb(230, 21, 21);
}
        

@media (max-width: 760px) {

    .content h1{
        font-size: 18px;
        
    }
    
    .content {
    
      padding: 5%;  
    }

    .display-image {
   
        width: 88vw;
        height: 50vh;
    }  
    
    .content p, .content ul{
        font-size: 14px;
        line-height:30px;
    }
    
    .content ul {
        margin-left: 10px;

    }
    .content h3{
        font-size: 16px;
    }

    .btns{
   
        padding-top: 20px; 
     }
     .btn{
         padding-bottom:20px;
     }
     .prev {
         position: static;
         margin-left: 5px;
     }
     .nxt {
     
       float: right;
       margin-right: 5%;
       
     }
     .assignment{
         margin-left: 0;   
     }


     .content button a {
       
        font-size: 15px;
    }
    .content button {
        height: 40px;
        width: 30vw;
     }
     
     
}

