
footer {
    background:  #24262b;
    position: relative;
    bottom: 0;
    height: 50vh;
}
ul{
    list-style: none;
}
.footer-col{
   width: 32%;
    padding: 60px 15px 10px 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4 ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px ;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not( :last-child) {
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    background-color: transparent;
    padding-left: 8px;

}
.footer .row {
    display: flex;
    flex-wrap: wrap;
    
}
.container{
    max-width: 1170px;
    

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:#ffffff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  
    transition: all 0.5s ease;

}
.footer-col .social-links a i{
    height: 40px;
    width: 40px;
    color: #510feb;
}
.footer-col .social-links a:hover{
    background-color: transparent;
    padding-left: 8px;

}
@media (max-width: 760px) {
    footer{
        max-width: 760px;
        height: auto;
        margin: auto;
    
    }
    .footer .row {
        display: flex;
        flex-direction: row;
        
    }
    
    
    
    
}
