video {
    object-fit: cover;
    width: 1350px;
    height: 680px;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.hero-btn {
  background-color: antiquewhite;
  font-size: larger;
  color: rgb(196, 130, 8);
  border-radius: 10px;
}

.hero-btn button:hover {
  background-color: aliceblue;
  border-radius: 10px;
}

@media ( max-width:760px) {

  .hero-container {
    height: 50vh;
    width: 100%;

  }

  video {
    
    width: 760px;
    height: 400px;
    
  }

  .hero-btn{
    background-color: transparent;
  }
  .hero-btn button:hover {
    height: 60px;
    width: 150px;
  }
}
