.assignment-page {
    
    width: 1350px;
    background-color: rgb(4, 15, 31);;
    line-height: 40px;
    
    
}
.assignment-page h2 {
    color: orangered;
    font-size: larger;
    text-align: center;
}

.assignment-page p {
    padding: 0 60px;
    color:rgb(191, 191, 218);
}
 .assignment-page label{
    color: #fff;
 }

 
.assignment-page form {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    
}
.assignment-page input {
    width: 30vw;
}
textarea{
    height: 40vh; 
    width: 60vw;
    background-color: rgb(191, 191, 218);
    padding: 0 20px 0 60px ;
    border-color: rgb(191, 191, 218);
    border-radius: 10px;
}

input[type="submit"] {
    color: #fff;
    margin-top: 2rem;
      cursor: pointer;
      background: rgb(249, 105, 14);
      color: white;
      border: none;
      border-radius: 5px;
 }
 input[type="submit"]:hover{
    background: red;
 }



 @media (max-width: 760px) {

    .assignment-page{
        width: 480px;
        
    }

    .assignment-page p { 
        font-size: 15px;
        line-height: 30px;
    }

    textarea {
        width: 80vw;
        height: 20vh;
    }
 }
